body {
    background-color: lightgray;
    margin: 0px;
}

.main {
    margin: 100px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: white;
    border-radius: 20px;
}

.content {

}

.text {
    text-align: center;
    font-size: 15px;
    font-family: "Times New Roman";

}

.login {
    border: 1px darkgray;
    padding: 10px;
    text-align: center;
}

.form {
    padding: 20px;
}

.sub_btn {
    background-color: darkgray;
    color: white;
    border: 2px solid #A9A9A9;
    display: inline-block;
    font-size: 16px;
    padding: 6px 18px;
    border-radius: 8px;
}

.sub_btn:hover {
    background-color: white;
    color: black;
    border: 2px solid #A9A9A9;
}

.name_inp {
    padding: 8px 20px;
    border: 1px solid #A9A9A9;
    border-radius: 4px;
}

.footer {
    text-align: center;
    margin: 50px;
    height: 50px;
    color: #cccccc;
}


